<!-- https://github.com/akserg/ng2-dnd -->
<simple-dnd></simple-dnd>

<simple-dnd-handle></simple-dnd-handle>

<zone-dnd></zone-dnd>

<custom-data-dnd></custom-data-dnd>

<custom-function-dnd></custom-function-dnd>

<embedded-sortable></embedded-sortable>

<shoping-basket-dnd></shoping-basket-dnd>

<simple-sortable></simple-sortable>

<simple-sortable-handle></simple-sortable-handle>

<recycle-multi-sortable></recycle-multi-sortable>

<simple-sortable-copy></simple-sortable-copy>

<!-- <embedded-sortable></embedded-sortable> -->
