<div style="width:600px;height:auto;text-align: center;font-family: 微软雅黑;overflow: hidden;margin: 0 auto;">
	<div style="width: 580px;height: 70px;background:#E5173A;margin: 0 auto;text-align: left;font-size: 22px;color: #fff;line-height: 70px;padding-left: 20px;">新品专区</div>
	<div style="width: 613px;height: 400px;overflow: hidden;padding: 13px 0;">
		<div class="J_TWidget" data-widget-type="Carousel" 
			data-widget-config="{'contentCls': 'macontent','navCls': 'ma_na','duration':1,'interval':4,'autoplay':false,'triggerType':'mouse','prevBtnCls':'Mprev','nextBtnCls':'Mnext','circular':false,'effect': 'scrollx','easing': 'easeOutStrong','activeTriggerCls': 'hidden','steps':'2'}"  style="position: relative;">
				<div class="ds522" style="height: 376px;overflow: hidden;">
					<ul class="macontent">
						<li class="ds52" style="float: left;width: 290px;height: 376px;margin-right: 10px;background:#fff;">
							<a href="#" style="outline: none;display: block;width: 290px;height: 275px;background: url(https://gd3.alicdn.com/imgextra/i3/100960645/TB2T0RYdRU4h1JjSZFLXXaFMpXa_!!100960645.jpg_290x290.jpg_.webp) no-repeat center center;"></a>
							<h3 style="color: #424242;font-size: 18px;font-weight: normal;height: 23px;line-height: 23px;overflow: hidden;margin: 7px 0;">净烟机器人</h3>
							<p style="color: #6F6F6F;font-size: 12px;margin: 7px 0 8px;">天眼探测调节</p>
							<div style="height: 40px;line-height: 40px;overflow: hidden;color: #FB6A0E;font-size: 18px;"><span style="font-size: 12px;">￥</span>2290.00</div>
							<!-- 弹出按钮 -->
							<div class="J_TWidget" data-widget-type="Popup" data-widget-config="{'trigger':'.ds52','triggerType':'mouse','align':{'node':'.ds52','offset':[0,0],'points':['bc','bc']}}"
								style="display: none;">
								<div class="ks-popup-content">
									<a href="" style="display: block;width: 290px;height: 40px;line-height: 40px;text-decoration:none;background: #5DB4E1;color: #fff;font-size: 18px;">立即抢购</a>
								</div>
							</div>
						</li>
						<li  style="float: left;width: 290px;height: 376px;margin-right: 10px;background:#fff;">
							<a href="#" style="outline: none;display: block;width: 290px;height: 275px;background: url(https://gd3.alicdn.com/imgextra/i3/100960645/TB2T0RYdRU4h1JjSZFLXXaFMpXa_!!100960645.jpg_290x290.jpg_.webp) no-repeat center center;"></a>
							<h3 style="color: #424242;font-size: 18px;font-weight: normal;height: 23px;line-height: 23px;overflow: hidden;margin: 7px 0;">净烟机器人</h3>
							<p style="color: #6F6F6F;font-size: 12px;margin: 7px 0 8px;">天眼探测调节</p>
							<div style="height: 40px;line-height: 40px;overflow: hidden;color: #FB6A0E;font-size: 18px;"><span style="font-size: 12px;">￥</span>2290.00</div>
						</li>
						<li  style="float: left;width: 290px;height: 376px;margin-right: 10px;background:#fff;">
							<a href="#" style="outline: none;display: block;width: 290px;height: 275px;background: url(https://gd3.alicdn.com/imgextra/i3/100960645/TB2T0RYdRU4h1JjSZFLXXaFMpXa_!!100960645.jpg_290x290.jpg_.webp) no-repeat center center;"></a>
							<h3 style="color: #424242;font-size: 18px;font-weight: normal;height: 23px;line-height: 23px;overflow: hidden;margin: 7px 0;">净烟机器人</h3>
							<p style="color: #6F6F6F;font-size: 12px;margin: 7px 0 8px;">天眼探测调节</p>
							<div style="height: 40px;line-height: 40px;overflow: hidden;color: #FB6A0E;font-size: 18px;"><span style="font-size: 12px;">￥</span>2290.00</div>
						</li>
						<li  style="float: left;width: 290px;height: 376px;margin-right: 10px;background:#fff;">
							<a href="#" style="outline: none;display: block;width: 290px;height: 275px;background: url(https://gd3.alicdn.com/imgextra/i3/100960645/TB2T0RYdRU4h1JjSZFLXXaFMpXa_!!100960645.jpg_290x290.jpg_.webp) no-repeat center center;"></a>
							<h3 style="color: #424242;font-size: 18px;font-weight: normal;height: 23px;line-height: 23px;overflow: hidden;margin: 7px 0;">净烟机器人</h3>
							<p style="color: #6F6F6F;font-size: 12px;margin: 7px 0 8px;">天眼探测调节</p>
							<div style="height: 40px;line-height: 40px;overflow: hidden;color: #FB6A0E;font-size: 18px;"><span style="font-size: 12px;">￥</span>2290.00</div>
						</li>
						<li  style="float: left;width: 290px;height: 376px;margin-right: 10px;background:#fff;">
							<a href="#" style="outline: none;display: block;width: 290px;height: 275px;background: url(https://gd3.alicdn.com/imgextra/i3/100960645/TB2T0RYdRU4h1JjSZFLXXaFMpXa_!!100960645.jpg_290x290.jpg_.webp) no-repeat center center;"></a>
							<h3 style="color: #424242;font-size: 18px;font-weight: normal;height: 23px;line-height: 23px;overflow: hidden;margin: 7px 0;">净烟机器人</h3>
							<p style="color: #6F6F6F;font-size: 12px;margin: 7px 0 8px;">天眼探测调节</p>
							<div style="height: 40px;line-height: 40px;overflow: hidden;color: #FB6A0E;font-size: 18px;"><span style="font-size: 12px;">￥</span>2290.00</div>
						</li>
						<li  style="float: left;width: 290px;height: 376px;margin-right: 10px;background:#fff;">
							<a href="#" style="outline: none;display: block;width: 290px;height: 275px;background: url(https://gd3.alicdn.com/imgextra/i3/100960645/TB2T0RYdRU4h1JjSZFLXXaFMpXa_!!100960645.jpg_290x290.jpg_.webp) no-repeat center center;"></a>
							<h3 style="color: #424242;font-size: 18px;font-weight: normal;height: 23px;line-height: 23px;overflow: hidden;margin: 7px 0;">净烟机器人</h3>
							<p style="color: #6F6F6F;font-size: 12px;margin: 7px 0 8px;">天眼探测调节</p>
							<div style="height: 40px;line-height: 40px;overflow: hidden;color: #FB6A0E;font-size: 18px;"><span style="font-size: 12px;">￥</span>2290.00</div>
						</li>
						<li  style="float: left;width: 290px;height: 376px;margin-right: 10px;background:#fff;">
							<a href="#" style="outline: none;display: block;width: 290px;height: 275px;background: url(https://gd3.alicdn.com/imgextra/i3/100960645/TB2T0RYdRU4h1JjSZFLXXaFMpXa_!!100960645.jpg_290x290.jpg_.webp) no-repeat center center;"></a>
							<h3 style="color: #424242;font-size: 18px;font-weight: normal;height: 23px;line-height: 23px;overflow: hidden;margin: 7px 0;">净烟机器人</h3>
							<p style="color: #6F6F6F;font-size: 12px;margin: 7px 0 8px;">天眼探测调节</p>
							<div style="height: 40px;line-height: 40px;overflow: hidden;color: #FB6A0E;font-size: 18px;"><span style="font-size: 12px;">￥</span>2290.00</div>
						</li>
						<li  style="float: left;width: 290px;height: 376px;margin-right: 10px;background:#fff;">
							<a href="#" style="outline: none;display: block;width: 290px;height: 275px;background: url(https://gd3.alicdn.com/imgextra/i3/100960645/TB2T0RYdRU4h1JjSZFLXXaFMpXa_!!100960645.jpg_290x290.jpg_.webp) no-repeat center center;"></a>
							<h3 style="color: #424242;font-size: 18px;font-weight: normal;height: 23px;line-height: 23px;overflow: hidden;margin: 7px 0;">净烟机器人</h3>
							<p style="color: #6F6F6F;font-size: 12px;margin: 7px 0 8px;">天眼探测调节</p>
							<div style="height: 40px;line-height: 40px;overflow: hidden;color: #FB6A0E;font-size: 18px;"><span style="font-size: 12px;">￥</span>2290.00</div>
						</li>
					</ul>
				</div>
				<!-- 弹出上一页 -->
				<div class="J_TWidget" data-widget-type="Popup" data-widget-config="{'trigger':'.ds522','triggerType':'mouse','align':{'node':'.ds522','offset':[0,0],'points':['tl','tl']}}"
					style="display: none;">
					<div class="ks-popup-content">
						<div class="footer-more-trigger Mprev" style="left:0;;top:136px;padding:0;width:41px;height:69px;border:none;background:url(https://img.alicdn.com/imgextra/i4/2546029780/TB29nSyfsPRfKJjSZFOXXbKEVXa-2546029780.png) no-repeat left center;overflow: hidden;cursor: pointer;"></div>
					</div>
				</div>
				<!-- 弹出下一页 -->
				<div class="J_TWidget" data-widget-type="Popup" data-widget-config="{'trigger':'.ds522','triggerType':'mouse','align':{'node':'.ds522','offset':[-10,0],'points':['tr','tr']}}"
					style="display: none;">
					<div class="ks-popup-content">
						<div class="footer-more-trigger Mnext" style="left:auto;right: 13px;top:136px;padding:0;width:41px;height:69px;border:none;background:url(https://img.alicdn.com/imgextra/i4/2546029780/TB29nSyfsPRfKJjSZFOXXbKEVXa-2546029780.png) no-repeat -41px 0;overflow: hidden;cursor: pointer;"></div>
					</div>
				</div>
				
				<ul class="ma_na" style="display: none;"><li>1</li></ul>
			</div>
	</div>
</div>
